assignment/assignment9/src/schema/Course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema"
        xmlns:tns="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">
    <simpleType name="课程编号类型">
        <restriction base="string">
            <pattern value="[a-zA-Z][a-zA-Z][a-zA-Z]"/>
        </restriction>
    </simpleType>
    <complexType name="课程信息">
        <sequence>
            <element name="课程编号" type="tns:课程编号类型"></element>
            <element name="课程姓名" type="string"></element>
        </sequence>
    </complexType>
</schema>