assignment/assignment7/studentScore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<description
	xmlns="http://www.w3.org/ns/wsdl"
	targetNamespace="http://jw.nju.edu.cn/wsdl"
	xmlns:tns="http://jw.nju.edu.cn/schema"
	xmlns:jwwsdl="http://jw.nju.edu.cn/wsdl"
	xmlns:xswsdl="http://jw.nju.edu.cn/wsdl/schema"
	xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<types>
		<xs:schema targetNamespace="http://jw.nju.edu.cn/wsdl/schema" >
			<xs:import namespace="http://jw.nju.edu.cn/schema"
				schemaLocation="../schema/ScoreList.xsd"/>
			<xs:import namespace="http://jw.nju.edu.cn/schema"
				schemaLocation="../schema/Personinfo.xsd"/>
			<xs:element name="InvalidDataFault" type="xs:string"/>
			<xs:element name="课程成绩列表" type="tns:课程成绩列表类型" />
			<xs:element name="课程成绩" type="tns:课程成绩类型" />
			<xs:element name="学号" type="tns:学号类型"/>
		</xs:schema>
	</types>

	<interface  name="studentScoreShowInterface">
		<fault name="idNotFindFault" element="xswsdl:InvalidDataFault">
			<documentation>学号不存在</documentation>
		</fault>

		<operation name="getScore"
			pattern="http://www.w3.org/ns/wsdl/in-out">

			<input messageLabel="In" element="xswsdl:学号" />
			<output messageLabel="Out" element="xswsdl:课程成绩列表" />
			<outfault ref="jwwsdl:idNotFindFault" messageLabel="Out" />
		</operation>
	</interface>

	<interface  name="studentScoreChangeInterface">
		<fault name="idNotFindFault" element="xswsdl:InvalidDataFault">
			<documentation>学号不存在</documentation>
		</fault>
		<fault name="courseIdFault" element="xswsdl:InvalidDataFault">
			<documentation>课程号不存在</documentation>
		</fault>

		<operation name="addScore"
			pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="xswsdl:课程成绩" />
			<output messageLabel="Out" element="xswsdl:课程成绩列表" />
			<outfault ref="jwwsdl:idNotFindFault" messageLabel="Out" />
			<outfault ref="jwwsdl:courseIdFault" messageLabel="Out" />
		</operation>

		<operation name="modifyScore"
			pattern="http://www.w3.org/ns/wsdl/in-out">

			<input messageLabel="In" element="xswsdl:课程成绩" />
			<output messageLabel="Out" element="xswsdl:课程成绩列表" />
			<outfault ref="jwwsdl:idNotFindFault" messageLabel="Out" />
			<outfault ref="jwwsdl:courseIdFault" messageLabel="Out" />
		</operation>

		<operation name="delScore"
			pattern="http://www.w3.org/ns/wsdl/in-out">

			<input messageLabel="In" element="xswsdl:课程成绩" />
			<output messageLabel="Out" element="xswsdl:课程成绩列表" />
			<outfault ref="jwwsdl:idNotFindFault" messageLabel="Out" />
			<outfault ref="jwwsdl:courseIdFault" messageLabel="Out" />
		</operation>
	</interface>

	<binding name="studentScoreShowBinding"
		interface="tns:studentScoreShowInterface"
		type="http://www.w3.org/ns/wsdl/soap"
		wsoap:protocal="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<operation ref="jwwsdl:getScore"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response" />
		<fault ref="jwwsdl:idNotFindFault" wsoap:code="soap:Sender" />
	</binding>

	<binding name="studentScoreChangeBinding"
		interface="tns:studentScoreChangeInterface"
		type="http://www.w3.org/ns/wsdl/soap"
		wsoap:protocal="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<operation ref="jwwsdl:addScore"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="jwwsdl:modifyScore"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="jwwsdl:delScore"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<fault ref="jwwsdl:idNotFindFault" wsoap:code="soap:Sender" />
		<fault ref="jwwsdl:courseIdFault" wsoap:code="soap:Sender" />
	</binding>

	<service name="studentScoreShowService"
		interface="tns:studentScoreShowInterface">
		<documentation>用于成绩展示的服务</documentation>
		<endpoint name="studentScoreShowEndpoint"
			binding="tns:studentScoreShowBinding"
			address="http://localhost:8080/Assignment/StudentScoreShow"/>
	</service>

	<service name="studentScoreChangeService"
		interface="tns:studentScoreChangeInterface">
		<documentation>对学生成绩进行修改的服务，包括添加成绩、修改成绩、删除成绩</documentation>
		<endpoint name="studentScoreChangeEndpoint"
			binding="tns:studentScoreChangeBinding"
			address="http://localhost:8080/Assignment/StudentScoreChange"/>
	</service>
</description>
