assignment/assignment10/StudentManagement/WebContent/WEB-INF/wsdl/studentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:nju="http://www.nju.edu.cn/schema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stu="http://jw.nju.edu.cn/schema"
	xmlns:tns="http://jw.nju.edu.cn/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="studentService" targetNamespace="http://jw.nju.edu.cn/wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://jw.nju.edu.cn/wsdl">
			<!-- import 必要xsd -->
			<xsd:import namespace="http://www.nju.edu.cn/schema"
				schemaLocation="../schema/PersonInfo.xsd" />
			<xsd:import namespace="http://jw.nju.edu.cn/schema"
				schemaLocation="../schema/StudentList.xsd" />
			<!-- 声明需要的变量 -->
			<xsd:simpleType name="验证信息">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="正确"></xsd:enumeration>
					<xsd:enumeration value="错误"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="noneType">
				<xsd:sequence />
			</xsd:complexType>
			<xsd:element name="studentInfo" type="stu:学生类型" />
			<xsd:element name="studentList" type="stu:学生列表信息" />
			<xsd:element name="isCorrect" type="tns:验证信息"/>
			<xsd:element name="isSuccess" type="xsd:string"/>
			<xsd:element name="noIDError" type="xsd:string" />
			<xsd:element name="doubleIDError" type="xsd:string" />
			<xsd:element name="none" type="tns:noneType" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="updateInfoRequest">
		<wsdl:part element="tns:studentInfo" name="updateInfo" />
	</wsdl:message>
	<wsdl:message name="updateInfoResponse">
		<wsdl:part element="tns:isSuccess" name="updateSuccess" />
	</wsdl:message>
	<wsdl:message name="updateInfoFault">
		<wsdl:part element="tns:noIDError" name="fault" />
	</wsdl:message>
	
	<wsdl:message name="addInfoRequest">
		<wsdl:part element="tns:studentInfo" name="addInfo" />
	</wsdl:message>
	<wsdl:message name="addInfoResponse">
		<wsdl:part element="tns:isSuccess" name="updateSuccess" />
	</wsdl:message>
	<wsdl:message name="addInfoFault">
		<wsdl:part element="tns:doubleIDError" name="fault" />
	</wsdl:message>
	
	<wsdl:message name="deleteInfoRequest">
		<wsdl:part element="tns:studentInfo" name="deleteInfo" />
	</wsdl:message>
	<wsdl:message name="deleteInfoResponse">
		<wsdl:part element="tns:isSuccess" name="deleteSuccess" />
	</wsdl:message>
	<wsdl:message name="deleteInfoFault">
		<wsdl:part element="tns:noIDError" name="fault" />
	</wsdl:message>
	
	<wsdl:message name="checkInfoRequest">
		<wsdl:part element="tns:studentInfo" name="checkInfo" />
	</wsdl:message>
	<wsdl:message name="checkInfoResponse">
		<wsdl:part element="tns:isCorrect" name="checkResponse" />
	</wsdl:message>
	
	<wsdl:message name="getInfosRequest">
		<wsdl:part element="tns:none" name="none" />
	</wsdl:message>
	<wsdl:message name="getInfosResponse">
		<wsdl:part element="tns:studentList" name="list" />
	</wsdl:message>

	<wsdl:portType name="studentManagementInterface">
		<wsdl:operation name="getAllStudents">
			<wsdl:input message="tns:getInfosRequest" />
			<wsdl:output message="tns:getInfosResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="checkStudent">
			<wsdl:input message="tns:checkInfoRequest" />
			<wsdl:output message="tns:checkInfoResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="addStudent">
			<wsdl:input message="tns:addInfoRequest" />
			<wsdl:output message="tns:addInfoResponse" />
			<wsdl:fault name="fault" message="tns:addInfoFault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="updateStudent">
			<wsdl:input message="tns:updateInfoRequest" />
			<wsdl:output message="tns:updateInfoResponse" />
			<wsdl:fault name="fault" message="tns:updateInfoFault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="deleteStudent">
			<wsdl:input message="tns:deleteInfoRequest" />
			<wsdl:output message="tns:deleteInfoResponse" />
			<wsdl:fault name="fault" message="tns:deleteInfoFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="studentManagementSOAP" type="tns:studentManagementInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAllStudents">
			<soap:operation soapAction="http://jw.nju.edu.cn/wsdl/getAllStudents"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="checkStudent">
			<soap:operation soapAction="http://jw.nju.edu.cn/wsdl/checkStudent"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="addStudent">
			<soap:operation soapAction="http://jw.nju.edu.cn/wsdl/addStudent"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
    			<soap:fault use="literal" name="fault" />
    		</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="updateStudent">
			<soap:operation soapAction="http://jw.nju.edu.cn/wsdl/updateStudent"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
    			<soap:fault use="literal" name="fault" />
    		</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="deleteStudent">
			<soap:operation soapAction="http://jw.nju.edu.cn/wsdl/deleteStudent"/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
    			<soap:fault use="literal" name="fault" />
    		</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="studentService">
		<wsdl:port binding="tns:studentManagementSOAP" name="studentManagementPort">
			<soap:address
				location="http://localhost:8080/assignment10/StudentManagement" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
